<footer class="footer">
    <!-- <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-4">                          
                <h3 class="mb-0">
                    <span class=" mb-0 footerFirstName">Golden Hands Of <span class="mb-0 footerLastName">Grace</span></span>
                </h3>                             
                <p class="card-text mb-auto">You see, we are all called to run a race for Jesus, and repentance is the starting line of that race. It’s futile to try to run the race if you never made it to the starting line to begin with! This is the problem with many believers today.</p>
            </div>
        </div>
    </div> -->
</footer>
