<!--  HOME SCREEN-->

<div class="container-fluid">
    <div class="banner_holder">
        <div class="banner_holderImage">
        </div>       
    </div>   
    <div class=" p-0 ">
        <div class="col-md-12 px-0">             
            <p class="lead my-3 headerText-size">
                You see, we are all called to run a race for Jesus, and repentance is the starting line of that race. It’s futile to try to run the race if you never made it to the starting line to begin with! This is the problem with many believers today. They are trying to follow the Lord, but they have never truly repented and surrendered their lives to Jesus Christ. The result of the false gospel so prevalent today can be seen in churches full of half-hearted Christians whose lives are still centered on selfishness and the principles of the world. Jesus came to bring the kingdom of God to the earth. He came to completely transform individuals, families and nations from the inside out – a radical revolution that would change the world through obedient, blood-bought servants who are willing toYUN bow their knee and say, “Lord, after all You have done for me, what would You have me do for You?” – WRITTEN BY BROTHER
            </p>              
        </div>
    </div>
    <div class="row mb-2">
            <div class="col-md-3">
              <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-primary">Article</strong>
                  <h3 class="mb-0">
                    <span class="text-dark" href="#">Article Title</span>
                  </h3>
                  <div class="mb-1 text-muted">OCT 10,2017</div>
                  <p class="card-text mb-auto">You see, we are all called to run a race for Jesus, and repentance is the starting line of that race. It’s futile to try to run the race if you never made it to the starting line to begin with! This is the problem with many believers today.</p>
                  <a href="#">Continue reading</a>
                </div>
               
              </div>
            </div>
            <div class="col-md-3">
              <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-success">Promise Word</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="#">Psalm 121:1</a>
                  </h3>
                  <div class="mb-1 text-muted">Nov 11,2017</div>
                  <p class="card-text mb-auto">You see, we are all called to run a race for Jesus, and repentance is the starting line of that race. It’s futile to try to run the race if you never made it to the starting line to begin with! This is the problem with many believers today.</p>
                  <a href="#">Continue reading</a>
                </div>
                
              </div>
            </div>
            <div class="col-md-3">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-success">Book</strong>
                        <h3 class="mb-0">
                          <a class="text-dark" href="#">Book title</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12,2017</div>
                        <p class="card-text mb-auto">You see, we are all called to run a race for Jesus, and repentance is the starting line of that race. It’s futile to try to run the race if you never made it to the starting line to begin with! This is the problem with many believers today.</p>
                        <a href="#">Continue reading</a>
                      </div>
                      
                </div>
            </div>
            <div class="col-md-3">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-success">Audio</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">AUDIO title</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 14,2017</div>
                            <p class="card-text mb-auto">You see, we are all called to run a race for Jesus, and repentance is the starting line of that race. It’s futile to try to run the race if you never made it to the starting line to begin with! This is the problem with many believers today.</p>
                            <a href="#">Continue reading</a>
                        </div>
                        
                    </div>
                </div>
          </div>
</div>


