<!--  HOME SCREEN-->

<div class="container-fluid mt-3">  
    <div class="row mt-2">
      <div class="col-md-12 col-lg-12 col-12">
        <div class="card flex-md-row  shadow-sm h-md-250">
          <div class="d-flex flex-column align-items-start">                
              <img class="w-100" src="../assets/banner.jpg"> 
          </div>
        </div>
      </div>
    </div>
    <div class=" p-0 ">
        <div class="col-md-12 px-0">             
            <p class="lead my-3 headerText-size">
                You see, we are all called to run a race for Jesus, and repentance is the starting line of that race. It’s futile to try to run the race if you never made it to the starting line to begin with! This is the problem with many believers today. They are trying to follow the Lord, but they have never truly repented and surrendered their lives to Jesus Christ. The result of the false gospel so prevalent today can be seen in churches full of half-hearted Christians whose lives are still centered on selfishness and the principles of the world. Jesus came to bring the kingdom of God to the earth. He came to completely transform individuals, families and nations from the inside out – a radical revolution that would change the world through obedient, blood-bought servants who are willing toYUN bow their knee and say, “Lord, after all You have done for me, what would You have me do for You?” – WRITTEN BY BROTHER
            </p>              
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12 col-lg-6 col-12">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">         
               <strong class="d-inline-block mb-2 textHeaderColor">GOD'S PROMISE FOR THE MONTH OF NOVEMBER 2019</strong>              
                <img class="w-100" src="../assets/2019_nov.jpg"> 
            </div>           
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-12">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">         
                    <strong class="d-inline-block mb-2 textHeaderColor">GOD'S PROMISE FOR THE YEAR 2019</strong>              
                    <img class="w-100" src="../assets/2019_pro.JPG"> 
                </div>           
            </div>
        </div>
      </div>
    <div class="row mb-2">
            <div class="col-lg-3 col-md-3 col-12 pb-4" *ngFor ="let card of cardDetails" >
              <div class="d-block mb-4 h-100 title-design">
                  <!-- <strong class="d-inline-block mb-2 text-primary">{{card?.mainTitle}}</strong> -->
                  <h5 class="mb-0 warpText textHeaderColor">{{card?.specificTitle}}</h5>
                  <h6 class="mb-1 text-muted">{{card?.date}}</h6>
                  <p class="card-text mb-auto">{{card?.content}}</p>
                  <a [routerLink]="card.link">Continue reading</a>
                </div>
            </div>
       
    </div>
          
</div>

