.title-design{
    flex: 1 1 auto;
    padding: 1.25rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    height:10px;
}
.warpText{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.textHeaderColor{
    color: #d21547 !important;
}