<div class="container-fluid mt-4 mb-0">  
    <div class="row">  
      <div class="col-lg-2 col-md-4 col-4 mh-100">
          <div class="container">
              <div class="row ">
                  <div class="col-lg-12 col-md-12 col-12 text-center mt-2">
                        <img class="img-fluid img-author" src="../../../assets/user.png" alt="" >
                  </div>
                  <div class="col-lg-12 col-md-12 col-12 text-left mt-2 name-author">
                        <p>{{bookInfo?.AuthorName}}</p>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12 text-left mt-1 desc-author">
                        <p>{{bookInfo?.AuthorDesc}}</p>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12 text-center">
                        <img class="img-fluid img-thumbnail" [src]="bookInfo?.thumbNailPath" alt="" >
                  </div>
                  <div class="col-lg-12 col-md-12 col-12 text-center mt-2 mb-1">
                        <button type="submit" name="bookDownload" class="book-download" (click) = "downloadBook(bookInfo?.bookOriginalName)">Download</button>
                  </div>
              </div>
          </div>        
      </div> 
      <div class="col-lg-10 col-md-8 col-8 mh-100" >
          <div class="container">
              <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 text-left mt-2 book-title">
                        <h2>{{bookInfo?.bookName}}&nbsp;&nbsp;<img class="img-fluid ing-flip" src="../../../assets/flipbook.png" alt="" width="3%" (click) = "openFlipBook(bookInfo?.bookName);"></h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 text-left mt-2 book-content" [innerHTML]="bookContent">                       
                    </div>
              </div>
          </div>
      </div>    
    </div>  
</div>
