.img-author {
    border: 1px solid #c6000e;
    border-radius: 50%;
}

.book-download {
    width: 100%;
    border: none;
    background-color: #c6000e;
    color: #fff;
    outline: none;
    font-weight: 500;
}
.book-content p {
    border: 1px solid red;
    margin-bottom: 0 !important;
    overflow-wrap: break-word;
}
.book-title h3{
    display: inline;
    position: relative;
    top: 8px;
}
.book-title img{
    width: 25px;
}
.book-title h3{
    color:#d21547;
}