<div class="container-fluid mt-4 mb-0">  
  <div class="row text-center text-lg-left galleryList">  
    <div class="col-lg-3 col-md-4 col-12" *ngFor="let img of images; let i = index">       
        <img class="my-app-custom-image-row pb-4" [src]="img.plain.img"(click)="openImageModalRow(img)"           /> 
    </div>    
  </div>  
</div>
<ks-modal-gallery [id]="205" [modalImages]="images"
[plainGalleryConfig]="customPlainGalleryRowConfig"  [dotsConfig]="{visible: false}"  [slideConfig]="{infinite: true}"></ks-modal-gallery>
<ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="('36')" (pageChange) = "nextPage(page)"></ngb-pagination>

