/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* navbar */
.nav-wrapper {
    min-height: 60px;
}

.stickyHeader {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-wrapper nav{
    box-shadow: 3px 3px 7px 2px #ccc;
}
/* navbar end */
/* banner header */


.headerText-size{
    font-size:16px;
}
@media (max-width: 768px){
    .banner_holder{
        height: 150px;
    }
    .headerText-size{
        font-size:12px;
    }
}

.cursor{
    cursor: pointer;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;   
}
.page-link{
    color: #dc3545;
}
.page-link:hover{
    color: #dc3545;
    background-color: rgba(195, 28, 115, 0.14);
    border-color: rgba(195, 28, 115, 0.14); 
}
.page-item.disabled .page-link{
    color: #dc3545;
}
.page-link:focus {
    box-shadow: 0 0 0 0 #fff;
}
button.btn.btn-link:hover{
    color:#d5144b !important;
}
button.btn.btn-link{
    color:#d5144b !important;
}